<!DOCTYPE html>
<html lang="en">
<head>
   <!-- .alert-baby{padding:15px;border:1px solid transparent;border-radius:4px}-->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
  <meta name="author" content="Muhammad Usman">

  <!-- The styles -->
 <link id="bs-css" href="plugin/css/bootstrap-cerulean.min.css" rel="stylesheet">

  <link href="plugin/css/charisma-app.css" rel="stylesheet">
  <link href='plugin/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
  <link href='plugin/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>

  <link href='plugin/chosen/chosen.min.css' rel='stylesheet'>
  <link href='plugin/colorbox/example3/colorbox.css' rel='stylesheet'>
  <link href='plugin/responsive-tables/responsive-tables.css' rel='stylesheet'>
  <link href='plugin/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>

  <link href='plugin/css/jquery.noty.css' rel='stylesheet'>
  <link href='plugin/css/noty_theme_default.css' rel='stylesheet'>
  <link href='plugin/css/elfinder.min.css' rel='stylesheet'>
  <link href='plugin/css/elfinder.theme.css' rel='stylesheet'>
  <link href='plugin/css/jquery.iphone.toggle.css' rel='stylesheet'>
  <link href='plugin/css/uploadify.css' rel='stylesheet'>
  <link href='plugin/css/animate.min.css' rel='stylesheet'>


  <script src="plugin/jquery/jquery.min.js"></script>
  <!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->



  <!-- The fav icon -->

<style>
    .resultErro{

        width:100px;
        heigth:20px;
        color:red;
    }
</style>
</head>

<body>

<div class="ch-container">
  <div class="row">

    <div class="row">
      <div class="col-md-12 center login-header">

      </div>
      <!--/span-->
    </div><!--/row-->

    <div class="row">
      <div class="well col-md-5 center login-box">
        <div class="alert alert-info">
          Please login with your Username and Password.
        </div>
        <form class="form-horizontal" >
          <fieldset>
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
              <input type="text" class="form-control" placeholder="Username" id="username">
            </div>
            <div class="clearfix"></div><br>

            <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
              <input type="password" class="form-control" placeholder="Password" id="password">
               <!-- <span id="resultErro">[:=data.session.erro</oo></span>-->
            </div>
            <div class="clearfix"></div>

            <div class="input-prepend">
              <label class="remember" for="remember"><input type="checkbox" id="remember"> Remember me</label>
            </div>
            <div class="clearfix"></div>


          </fieldset>
        </form>
        <p class="center col-md-5">
           <!-- onclick="$f('user.resp',this)"-->
          <button type="submit" class="btn btn-primary" onclick="$f('user.resp',this)" >Login</button>
        </p>
      </div>
      <!--/span-->
    </div><!--/row-->
  </div><!--/fluid-row-->

</div>
<div id="baby" class="col-lg-12 col-sm-12">
</div>

<!-- external javascript -->




<script src="plugin/js/jquery.cookie.js"></script>

<script src='plugin/moment/min/moment.min.js'></script>

<script src='plugin/fullcalendar/dist/fullcalendar.min.js'></script>


<script src='plugin/js/jquery.dataTables.min.js'></script>


<script src="plugin/chosen/chosen.jquery.min.js"></script>

<script src="plugin/colorbox/jquery.colorbox-min.js"></script>

<script src="plugin/js/jquery.noty.js"></script>

<script src="plugin/responsive-tables/responsive-tables.js"></script>

<script src="plugin/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>

<script src="plugin/js/jquery.raty.min.js"></script>

<script src="plugin/js/jquery.iphone.toggle.js"></script>

<script src="plugin/js/jquery.autogrow-textarea.js"></script>

<script src="plugin/js/jquery.uploadify-3.1.min.js"></script>

<script src="plugin/js/jquery.history.js"></script>

<script src="plugin/HRFrame/HRFrame.4.1.js"></script>

<script src="plugin/js/charisma.js"></script>


</body>
</html>
